.dialog-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    .mark {
        width: 260px;
        background: #fff;
        position: relative;
        left: 50%;
        top: 150px;
        transform: translateX(-50%);
        padding: 0 30px 30px 30px;
        .top-con {
            padding: 16px 0;
            border-bottom:  1px solid #e8e8e8;
            display: flex;
            align-items: center;
            >.close {
                width: 15px;
                height: 15px;
                background: url('../../../static/images/close.png');
                background-size: 15px 15px;
                cursor: pointer;
                transition: .5s;
                &:hover {
                    transform: rotate(90deg);
                }
            }
            >.title {
                flex: 1;
                font-size: 16px;
            }
        }
        .slot {
            padding: 15px 0;
            word-break: break-all;
            
        }
        .content {
            padding: 25px 0;
        }
        .btn {
            text-align: center;
            >button {
                width: 98px;
                height: 28px;
                border: 1px solid #333;
                background: #fff;
                text-align: center;
                line-height: 28px;
                margin: 0 5px;
                &:hover {
                    background: #333;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}